In [1]:
# Imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_2023 = pd.read_csv('ignore/SHIFTS (2).csv')

In [3]:
df_2023.head()

,ObjectID,DATE1,DAY_OF_WEEK,AGENCY_DESC,SITE_NAME,TOWN,WATERBODY,FNAME,LNAME,INSPECTOR_ID,...,SHIFT_LENGTH,TRAILERS,TOTAL_NM,TOTAL_M,TOTALINSP,COMMENTS,NUMINVASIVE,GlobalID,x,y
0,71,5/12/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Emily,Lucas,5305,...,190,2.0,0.0,5,5.0,\n,0.0,2efd8f58-5a9e-4b75-8e56-4cb720b404ab,-69.96728,44.23825
1,87,5/15/2023,Mon,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Jo,Parker,5582,...,177,3.0,1.0,4,5.0,NaN,0.0,79e8dad7-953c-44ea-a755-5ae798d88a0e,-69.96728,44.23825
2,140,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Whippoorwill Road,Litchfield,Woodbury Pond,Georgia,Howe,5714,...,420,3.0,0.0,12,12.0,NaN,0.0,0e7817d3-1b58-4126-b74e-63633c56c9b7,-69.93623,44.21212
3,148,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Norcross Point South Basin Maranacook,Winthrop,Maranacook Lake,Jasper,Balano-Stott,4174,...,315,0.0,0.0,8,8.0,NaN,0.0,fc2638c6-255b-4dd4-8a07-dfbaa8243f64,-69.97390,44.31010
4,149,5/26/2023,Fri,FOCW (Friends of the Cobbossee Watershed),Launch Drive Cobbosseecontee,Monmouth,Cobbosseecontee Lake,Steve,Lambert,5670,...,420,4.0,0.0,31,31.0,NaN,0.0,2ae48858-7783-465d-8b28-a1f2b4eaa446,-69.96728,44.23825

In [5]:
df_2023.describe()

,ObjectID,INSPECTOR_ID,SHIFT_LENGTH,TRAILERS,TOTAL_NM,TOTAL_M,TOTALINSP,NUMINVASIVE,x,y
count,984.000000,984.000000,984.000000,806.000000,982.000000,984.000000,982.000000,983.000000,984.000000,984.000000
mean,4310.423780,5356.850610,376.194106,4.908189,2.147658,11.633130,13.780041,0.824008,-69.942566,44.287720
std,2522.355091,982.162438,142.023288,45.956869,3.548067,13.119009,15.046733,2.397078,0.048691,0.060651
min,71.000000,1289.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-70.043400,44.145400
25%,2185.000000,5306.000000,360.000000,0.000000,0.000000,3.000000,4.000000,0.000000,-69.971861,44.238250
50%,4226.500000,5652.000000,360.000000,2.000000,0.000000,7.000000,9.000000,0.000000,-69.964800,44.310100
75%,6429.250000,5980.000000,420.000000,4.000000,3.000000,15.000000,19.000000,1.000000,-69.894800,44.321550
max,9065.000000,6112.000000,750.000000,1300.000000,22.000000,95.000000,104.000000,28.000000,-69.885100,44.396100

In [7]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ObjectID      984 non-null    int64
 1   DATE1         984 non-null    object
 2   DAY_OF_WEEK   984 non-null    object
 3   AGENCY_DESC   984 non-null    object
 4   SITE_NAME     984 non-null    object
 5   TOWN          984 non-null    object
 6   WATERBODY     984 non-null    object
 7   FNAME         984 non-null    object
 8   LNAME         984 non-null    object
 9   INSPECTOR_ID  984 non-null    int64
 10  PAY_VOL       984 non-null    object
 11  SHIFT_START   984 non-null    object
 12  SHIFT_END     984 non-null    object
 13  SHIFT_LENGTH  984 non-null    int64
 14  TRAILERS      806 non-null    float64
 15  TOTAL_NM      982 non-null    float64
 16  TOTAL_M       984 non-null    int64
 17  TOTALINSP     982 non-null    float64
 18  COMMENTS      88 non-null     object
 19  NUMINVASIVE   983 non-null    float64
 20  GlobalID      984 non-null    object
 21  x             984 non-null    float64
 22  y             984 non-null    float64
dtypes: float64(6), int64(4), object(13)
memory usage: 176.9+ KB

In [8]:
df_comments = df_2023[df_2023['COMMENTS'].notnull()]

In [11]:
df_comments.COMMENTS.sample(25)

363                                                   \n
298    No. 4 was uncooperative and I wasnâ€™t able to i...
427                                                 \n\n
219                                                   \n
135                                                 \n\n
633                                                   \n
547                                                   \n
681        Variable leaf milfoil, confirmed by Alex Dyer
16                                                  \n\n
47     Suspect fragment is last year's fernleaf pondw...
586                         First was plant survey team
292    I may have been a little confused about the bo...
961                                                   \n
763                                                 \n\n
873    3 Kayaks exited at the ramp and weâ€™re loaded o...
60                                              \n\n\n\n
5                                                  N/A\n
564                                                   \n
803                                                   \n
68                                         No comment \n
981                                                 \n\n
891    Only people I had were removing two jet skis a...
82                                                    \n
159                                       Only fishermen
79                                                \n\n\n
Name: COMMENTS, dtype: object

In [12]:
df_2023.groupby(by='SITE_NAME').TOTALINSP.sum()

SITE_NAME
Beach Road                                730.0
East Winthrop Cobbosseecontee            1821.0
Holmes Road Annabessacook                1008.0
Lakeside Marina Cobbosseecontee           953.0
Launch Drive Cobbosseecontee             4318.0
Norcross Point South Basin Maranacook     827.0
Old Kents Hill Road                       466.0
Rt 41 North Basin Maranacook              900.0
Thorofare Rd                              730.0
Whippoorwill Road                        1628.0
Wilson Pond Road                          151.0
Name: TOTALINSP, dtype: float64

In [14]:
df_2023.groupby(by='SITE_NAME').count()

,ObjectID,DATE1,DAY_OF_WEEK,AGENCY_DESC,TOWN,WATERBODY,FNAME,LNAME,INSPECTOR_ID,PAY_VOL,...,SHIFT_LENGTH,TRAILERS,TOTAL_NM,TOTAL_M,TOTALINSP,COMMENTS,NUMINVASIVE,GlobalID,x,y
SITE_NAME,,,,,,,,,,,,,,,,,,,,,
Beach Road,52,52,52,52,52,52,52,52,52,52,...,52,51,52,52,52,1,52,52,52,52
East Winthrop Cobbosseecontee,195,195,195,195,195,195,195,195,195,195,...,195,191,195,195,195,14,194,195,195,195
Holmes Road Annabessacook,55,55,55,55,55,55,55,55,55,55,...,55,53,55,55,55,2,55,55,55,55
Lakeside Marina Cobbosseecontee,164,164,164,164,164,164,164,164,164,164,...,164,25,164,164,164,1,164,164,164,164
Launch Drive Cobbosseecontee,200,200,200,200,200,200,200,200,200,200,...,200,190,200,200,200,26,200,200,200,200
Norcross Point South Basin Maranacook,50,50,50,50,50,50,50,50,50,50,...,50,45,49,50,49,6,50,50,50,50
Old Kents Hill Road,74,74,74,74,74,74,74,74,74,74,...,74,71,74,74,74,15,74,74,74,74
Rt 41 North Basin Maranacook,41,41,41,41,41,41,41,41,41,41,...,41,37,40,41,40,3,41,41,41,41
Thorofare Rd,49,49,49,49,49,49,49,49,49,49,...,49,48,49,49,49,8,49,49,49,49
Whippoorwill Road,63,63,63,63,63,63,63,63,63,63,...,63,62,63,63,63,6,63,63,63,63
Wilson Pond Road,41,41,41,41,41,41,41,41,41,41,...,41,33,41,41,41,6,41,41,41,41

In [16]:
df_2023.groupby(by='SITE_NAME').TOTALINSP.mean()

SITE_NAME
Beach Road                               14.038462
East Winthrop Cobbosseecontee             9.338462
Holmes Road Annabessacook                18.327273
Lakeside Marina Cobbosseecontee           5.810976
Launch Drive Cobbosseecontee             21.590000
Norcross Point South Basin Maranacook    16.877551
Old Kents Hill Road                       6.297297
Rt 41 North Basin Maranacook             22.500000
Thorofare Rd                             14.897959
Whippoorwill Road                        25.841270
Wilson Pond Road                          3.682927
Name: TOTALINSP, dtype: float64

In [17]:
df_2023.groupby(by='SITE_NAME').TOTALINSP.describe()

,count,mean,std,min,25%,50%,75%,max
SITE_NAME,,,,,,,,
Beach Road,52.0,14.038462,11.009731,0.0,6.00,13.0,20.00,44.0
East Winthrop Cobbosseecontee,195.0,9.338462,10.154899,0.0,2.00,6.0,11.00,63.0
Holmes Road Annabessacook,55.0,18.327273,13.885850,0.0,6.50,16.0,25.00,54.0
Lakeside Marina Cobbosseecontee,164.0,5.810976,3.450918,1.0,3.00,5.0,8.00,17.0
Launch Drive Cobbosseecontee,200.0,21.590000,18.987483,0.0,8.00,16.0,27.25,97.0
Norcross Point South Basin Maranacook,49.0,16.877551,15.348226,0.0,7.00,12.0,25.00,64.0
Old Kents Hill Road,74.0,6.297297,6.444132,0.0,1.25,4.0,8.75,32.0
Rt 41 North Basin Maranacook,40.0,22.500000,16.625590,0.0,9.00,16.5,35.50,54.0
Thorofare Rd,49.0,14.897959,11.404029,0.0,5.00,13.0,26.00,38.0
Whippoorwill Road,63.0,25.841270,22.318954,0.0,12.00,20.0,34.00,104.0
Wilson Pond Road,41.0,3.682927,4.766755,0.0,1.00,1.0,3.00,17.0

### Brainstorming

Which are the busiest sites?

All of the Cobbosseecontee sites are very busy (lakeside is its own thing).


What about individual inspectors?
- Mean inspections of inspectors
- Main or most frequent locations of inspectors
- Are inspectors partnered up or on their own?


What are the main goals of EDA:
- Determine the peak season
- Determine the busiest sites
- Identify days during peak season at busiest sites without a shift & count number of occurrences 


Once I have data from past years:
- What was the expected number of inspections per day?
-

### Data Goals:

Model Goals:
-Predict number of inspections per shift 2024
-Predict number of fragments per shift 2024
-Predict number of shifts/ hours for 2024

Budget Forecasting:
-Multiply the expected average wage by the expected number of hours


### Data Cleaning
Lakeside Marina is staffed by a separate organization with their own paid organization- not FOCW. Lakeside Marina has to be dropped

### Possibilities?
- Create a budget function
    - Estimate the number of returning inspectors
    - Estimate the total number of inspectors/ hours at each wage rate
    - Estimate total number of inspectors/ hours
    - Multiply and add
    - Consider overhead and management
- Model the number of fragments
- Model the number of inspections